<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LojaAuto33.Properties.Settings.Autopeca33ConnectionString"
            connectionString="Data Source=SJC0562926W10-1;Initial Catalog=Autopeca33;User ID=sa;Password=Senac123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>